@model IEnumerable<AuthSystem.Models.Article>

@{
    ViewData["Title"] = "Index";
    var counter = 0;
}



<h1>Aktualności</h1>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="far fa-plus-square"></i> Dodaj nowy wpis</a>
</p>
<div class="card" style="background-color: #f2f2f2">
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-sm">
                @foreach (var item in Model.Reverse())
                {

                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.Date)</h6>
                            @if (item.Content.Length < 401)
                            {
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                            }
                            else
                            {

                                var str = item.Content.Substring(0, 400);
                                <p class="card-text">@Html.DisplayFor(modelItem => str)...</p>
                                <a asp-action="Details" asp-route-id="@item.ArticleId" class="btn btn-primary">Czytaj więcej</a>
                            }
                        </div>
                        <div class="card-footer">
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ArticleId" class="btn btn-warning">Edytuj</a>
                                <a asp-action="Delete" asp-route-id="@item.ArticleId" class="btn btn-danger">Usuń</a>
                            </p>
                        </div>
                    </div>
                    <label> </label>
                }
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
</div>
