@model IEnumerable<AuthSystem.Models.Article>

@{
    ViewData["Title"] = "Aktualności";
}

<style>
    .test {
        font-size: 35px;
        font-weight: bold;
    }

    .clock {    
        font-size:35px;
        text-align:center;
    }

    .clock-pos {
        justify-content:center;
        padding:20px;
    }
</style>

<div>
    <div class="card" style="background-color: #f2f2f2">
        <h1 class="ml-2">Aktualności</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @foreach (var item in Model.Reverse())
                    {

                        <div class="card" style="width: auto;">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.Date)</h6>
                                @if (item.Content.Length < 70)
                                {
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                                }
                                else
                                {
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content) ...</p>
                                    <a asp-action="Details" asp-route-id="@item.ArticleId" class="btn btn-primary">Czytaj więcej</a>
                                }
                            </div>
                        </div>
                        <label> </label>
                    }
                </div>
                <div class="col-sm">
                    <div class="container card mb-3">
                        <p class="clock-pos">
                            <label id="clock" class="clock"></label>
                            <label id="second" class="text-muted"></label>
                        </p>
                    </div>
                    <div class="container card mb-3">
                        <p>
                            <label id="city" class="text-medium mb-auto"><strong>City</strong></label>,
                            <label id="country" class="text-muted">CN</label>
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="test">
                                    <img id="weatherIcon" src="" class="text-left">
                                    <label id="temperature"><strong>Temp</strong></label>
                                    <label id="temperature"><strong>&deg;C</strong></label>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <i class="fas fa-windows"></i>
                                    <label class="text-muted">Wiatr: </label>
                                    <label id="wind">20%</label>
                                    <label>m/s</label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function getTemp(temp) {
        var index = temp.indexOf(".");
        if (index == -1) return temp;
        else {
            var tempSimple = temp.slice(0, index);
            return tempSimple;
        }
    }

    var cityname = "pszczyna";
    if (cityname.length > 0) {
        $.ajax({
            url: "https://localhost:44325/api/Weather/" + cityname,
            type: "GET",
            contentType: 'json',
            success: function (rsltval) {
                var data = rsltval;
                var test = new String(rsltval);
                var obj = JSON.parse(test);
                console.log(data);
                //alert(test);
                var temp = obj.main.temp;
                var tempMax = obj.main.temp_max;
                var tempMin = obj.main.temp_min;
                var tempSimple = getTemp(new String(temp));
                var max = getTemp(new String(tempMax));
                var min = getTemp(new String(tempMin));
                $("#temperature").html(tempSimple);
                $("#weatherIcon").attr("src", "http://openweathermap.org/img/wn/" + obj.weather[0].icon + "@@" + "2x.png");
                $("#city").html(obj.name);
                $("#tempmin").html(min);
                $("#tempmax").html(max);
                $("#country").text(obj.sys.country);
                $("#humidity").text(obj.main.humidity);
                $("#wind").text(obj.wind.speed);
                $("#clouds").text(obj.clouds.all);
                    //data - response from server
            },
            error: function () {

            }
        });
    }
    else {
        alert("City Not Found");
    }
</script>

<script>
    setInterval(showTime, 1000);
    function showTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();

        hour = hour < 10 ? "0" + hour : hour;
        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;

        let currentTime = hour + ":"
            + min;

        document.getElementById("second")
            .innerHTML = sec;

        document.getElementById("clock")
            .innerHTML = currentTime;
    }
    showTime(); 
</script>

@*<script>
    setInterval(showSec, 1000);
    function showSec() {
        let time = new Date();
        let sec = time.getSeconds();

        sec = sec < 10 ? "0" + sec : sec;

        let currentTime = sec;

        document.getElementById("second")
            .innerHTML = currentTime;
    }
    showSec(); 
</script>*@